.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.info {
  width: 100%;
  margin: 7px 0px;
  min-height: 21px;
}

.error {
  color: #b90303;
}

.videoLinkContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.videoLinkInput {
  flex: 1;
  border-radius: 8px;
  border: 0;
  padding: 0.6em 1.2em;
  margin-right: 20px;
}

.textFileGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #757575;
  border-radius: 3px;
  padding: 5px;
}

.textFileGrid > div {
  display: flex;
  justify-content: center;
}

.textFileGrid > div > div {
  margin: auto;
}

.textFileGrid > div:not(:first-of-type) {
  padding-top: 4px;
}

.textFileGrid > div:not(:last-of-type) {
  border-bottom: 1px solid #757575;
  padding-bottom: 4px;
}

.textFileGrid > div > div:first-of-type {
  margin: auto;
  max-width: 408px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textFileGrid > div > div > button {
  width: 107px;
  height: 50px;
  margin: 0 10px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

/* @media (max-width: 550px) {
  .textFileGrid > div > div {
    width: 480px;
  }
} */

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
